version: '3'

services:
    cwskimmer:
        build: .
        image: madpsy/ubersdr-cwskimmer:latest
        container_name: cwskimmer
        privileged: true
        
        environment:
            # Station Configuration
            - CALLSIGN=${CALLSIGN:-MM3NDH}
            - NAME=${NAME:-Nathan}
            - QTH=${QTH:-Dalgety Bay}
            - SQUARE=${SQUARE:-IO86ha}
            
            # UberSDR Configuration
            - UBERSDR_HOST=${UBERSDR_HOST:-ka9q_ubersdr}
            - UBERSDR_PORT=${UBERSDR_PORT:-8080}
        
        ports:
            - "7373:7373"  # noVNC web interface
            - "7300:7300"  # SkimSrv telnet server
            - "7550:7550"  # RBN Aggregator
        
        restart: unless-stopped
